@model IEnumerable<EFCoreCRUD.Models.ViewModels.Usuario>

@{
    ViewData["Title"] = "Listar";
}

<div class="row">
    <div class="col-md-6">
        <h1>Listar</h1>
    </div>
    <div class="col-md-6 text-right mt-2 mb-2">
        <a class="btn btn-primary" asp-action="Inserir">Novo Cadastro</a>
    </div>
</div>
<hr />
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Editar", new { item.Codigo}) 
                </td>
            </tr>
        }
    </tbody>
</table>
